@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 300;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProText-Light.ttf");
}

@import "tailwindcss";

/* tailwind vem primeiro que o *{} */
* {
    font-family: "Google Sans", sans-serif;
}

body {
    background-color: #F3F6FA;
}
